body {
  overflow-x: hidden;
}

#section1 {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.loader {
  width: 10px;
  aspect-ratio: 1;
  border: none;
  padding: .5rem;
  position: relative;
  transform: rotate(45deg);
}
.loader::before {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 50%;
  border: 2px solid #dbd9ec;
  margin: 1px;
  animation: l18 2s infinite linear;
}
@keyframes l18 {
  0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
  25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
  100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
}

.bg-trilhas {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 200% 100%;
}

.bg-objetivos {
  background-repeat: no-repeat;
  background-position: 55%;
  background-size: 180% 180%;
}
